# Dependencies
node_modules

# Build output
dist

# Superpowers
.superpowers

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

.claude/*
docs/superpowers/*
DESIGN.md
DESIGN-personalized.md
CLAUDE.md